<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="me.ardafirdausr.reado">

    <!-- SEMUA YANG DAPAT DI LIHAT DI SETTING HP -->
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:replace="android:icon">
        <activity android:name=".SplashScreenActivity">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".TextScannerActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".WordActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".AlphabetActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".StageActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".LevelActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".QuizStageOneActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".QuizStageTwoActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".QuizStageThreeActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".QuizStageZeroActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".AboutActivity" />
        <activity android:name=".AppActivity" />
        <activity android:name=".DeveloperActivity" />
        <activity android:name=".CreditActivity"></activity>
    </application>

</manifest>